body {
    margin: 0;
    padding: 0;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 100px;
}

main {
    padding: 16px 0px;
    margin: 0px 12px;
    font-family: Optima, sans-serif;
}

footer {
    padding: 24px 12px;
    background-color: rgba(179, 206, 101, 1);
    font-family: caveat;
    bottom: 0;
    width: 100%;
}

nav {
    padding: 16px 12px;
    border-bottom-color: 1px solid rgba(255, 90, 50, 1);
    background-color: rgba(255, 90, 50, 1);
    font-family: Apple Chancery, cursive;
    gap: 50px;
}

h1 {
    color: rgba(19, 96, 82, 1);
    font-family: Apple Chancery, cursive;
    font-variant: small-caps slashed-zero;
    text-shadow: 1px 1px 2px pink;
}

a {
    color: rgba(67, 127, 62, 1);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  nav > a {
    color: white;
  }

  a:link {
    text-decoration: none;
}

a:hover {
    color: rgba(255, 235, 92, 1);
}

h2 {
    font-size: 90%;
    font-style: italic;
}

img + div {
    font-size: small;
    font-style: italic;
  }

.date {
    font-size: x-small;
    font-style: italic;
}
