{% extends "big_recipes/base.html" %}
{% load static %}

{% block title %}
    Scrumptious recipes
{% endblock title %}

{% block content %}
    <header>
        <nav class="nav-list">
            <a href="{% url 'recipe_list' %}">Main Page</a>
        </nav>
    </header>
    <main>
        <h1>What's your recipe!</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button>Create</button>
        </form>
    </main>
{% endblock content %}
