{% extends "big_recipes/base.html" %}
{% load static %}

{% block title %}
    Scrumptious recipes
{% endblock title %}

{% block content %}
    <header>
        <nav class="nav-list">
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'edit_recipe' %}">Edit this recipe</a>
            <a href="{% url 'create_recipe' %}">Create a new recipe</a>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <p class="date">{{ recipe.created_on|date:"F j, Y" }}</p>
        <img src="{{ recipe_object.picture }}" alt="picture" width="200" height="200"/>
        <div>4.3 stars</div>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table class="ingredients-table">
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Food Item</th>
                </tr>
            </thead>
            <tbody>
                {% for ingredients in recipe_object.ingredients.all %}
                    <tr>
                        <td>{{ ingredient.amount }}</td>
                        <td>{{ ingredient.food_item }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
            <ol>
                {% for step in recipe_object.steps.all %}
                    <li>{{ step.instruction }}</li>
                {% endfor %}
            </ol>
    </main>
{% endblock content %}
