{% extends "big_recipes/base.html" %}
{% load static %}

{% block title %}
    Scrumptious recipes
{% endblock title %}

{% block content %}
    <header>
        <nav class="nav-list">
            {% if user.is_authenticated %}
            <a href="{% url 'recipe_list' %}">Main Page</a>
            <a href="{% url 'my_recipe_list' %}">My recipes</a>
            <a href="{% url 'create_recipe' %}">Create a recipe</a>
            {% else %}
            <a href="{% url 'recipe_list' %}">Main Page</a>
            {% endif %}

            {% if user.is_authenticated %}
                Hello, {{ user.username }}
                <a href="{% url 'user_logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'user_login' %}">Login</a>
            {% endif %}
        </nav>
    </header>
    <main>
        <h1>Scrumptious Recipes</h1>
        <h2>"All the food that's fit to eat!!!"</h2>
        <div class="recipe-grid">
            {% for recipe in recipes %}
                <h3>
                    <a href="{% url 'show_recipe' recipe.id %}">{{ recipe.title }}</a>
                </h3>
                <p class="date">{{ recipe.created_on|date:"M. j, Y, f a" }}</p>
                <img src="{{ recipe.picture }}" alt="picture" width="200" height="200"/>
                <div>4.3 stars</div>
            {% endfor %}
        </div>
    </main>
{% endblock content %}
